{% extends 'base.html' %} {% block content %}
<div class="w-100 m-3 center shadow rounded-3">
  <h2 class="text-center pt-5">One Link</h2>
  <div class="row align-items-end p-4">
    <div class="col">
      <form method="POST">
        {{form.hidden_tag()}} {{form.name(class="form-control
        mb-3",placeholder="Username")}} {{form.password(class="form-control
        mb-3", type="password",placeholder="password")}}
        {{form.confirm(class="form-control mb-3",
        type="password",placeholder="confirm password")}}
        {{form.submit(class='btn-dark shadow btn text-light w-100 mb-3' )}}
      </form>
    </div>
  </div>
</div>
{% endblock content %}
